* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

header {
    position: absolute;
    top: 30px;
    width: 100%;
    text-align: center;
    z-index: 9999;
    color: #F6F6EC;
}

body {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("img/desert.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 36px;
    font-family: "Kenia", Arial, Helvetica, sans-serif;
}

main {
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas-section {
    width: min(100%, 720px); 
    height: min(100dvh, 480px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#canvas-buttons {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
    /* pointer-events: none; */
}

.game-buttons {
    img {
        &:hover {
            cursor: pointer;
            filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.8));
        }
    }
}

#upper-buttons {
    gap: 16px;
    display: flex;
    justify-content: flex-end;
    display: none;
}

#control-buttons {
    /* display: flex; */
    justify-content: space-between;
    display: none;
}

#move-btn{
    margin-left: 48px;
    margin-bottom: 24px;
    display: flex;
    gap: 24px;
}

#jump-throw-btn{
    margin-right: 48px;
    display: flex;
    gap: 24px;

    img{
        width: 39px;
        height: 39px;
    }
}

canvas {
    background-color: black;
    display: block;
    width: inherit;
    height: inherit;
}

#start-screen {
    width: inherit;
    height: inherit;
    background-image: url("./img/start-screen/start-screen.jpg");
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    position: absolute;
    z-index: 10;
    top: 0;
}

.home-content {
    width: 20%;
    height: 50%;
    text-align: center;
}

h4{
    font-size: clamp(16px, 3.5vw, 32px);
}

.home-buttons {
    width: clamp(40px, 10vw, 100px);
    height: clamp(40px, 10vw, 100px);

    &:hover {
        cursor: pointer;
        filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.8));
    }
}

#volume-button {
    display: none;
}

#mute-button {
    display: block;
}

.dialog {
    width: inherit;
    height: inherit;
    max-width: 100vw; 
    max-height: 100vh;
    background-image: url("./img/start-screen/start-screen.jpg");
    background-size: cover;
    flex-direction: column;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-width: 0;
    overflow-x: hidden;
    z-index: 999;
    padding: clamp(10px, 15vw, 16px);
    margin: 0;

    &:focus{
        outline: none;
    }
}

#restart-home {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.d-none {
    display: none;
}

#close-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#close-dialog {
    background: none;
    border: none;
    padding: 10px 10px 0px 0px;

    &:hover {
        cursor: pointer;
    }
}

p {
    font-size: clamp(16px, 2.5vw, 24px);
    font-weight: bold;
}

h2{
   font-size: clamp(24px, 5.5vw, 54px); 
}

h3{
   font-size: clamp(20px, 5.5vw, 48px); 
}

#headline {
    margin-bottom: 24px;
}

#imprint-template {
    margin-bottom: 80px;
}

/* Smartphone Breite */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100vw;
    }

    #canvas-section{
        width: 100vw;
        height: clamp(200px, 60vw, 480px)
    }
}

/* Smartphone Höhe */
@media only screen and (max-height: 720px) {
    canvas {
        height: 100dvh;
    }
    h1 {
        display: none;
    }
}

@media (orientation: landscape) and (pointer: coarse) {
  #canvas-section {
    width: 100dvw;
    height: 100dvh;
  }
}
