* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

header {
    position: absolute;
    top: 30px;
    width: 100%;
    text-align: center;
    /* z-index: 10; */
    color: #f6f6ec;
}

body {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("img/desert.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 36px;
    font-family: "Kenia", Arial, Helvetica, sans-serif;
}

main {
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    background-color: black;
    display: block;
    width: inherit;
    height: inherit;
}

#canvas-section {
    width: min(100%, 720px);
    height: min(100dvh, 480px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#canvas-buttons {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 5;
    /* display: none; */
}

.game-buttons {
    img {
        &:hover {
            cursor: pointer;
            filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.8));
        }
    }
}

#upper-buttons {
    gap: 16px;
    display: flex;
    justify-content: flex-end;
}

#control-buttons {
    justify-content: space-between;
    display: none;
}

#move-btn {
    margin-left: 48px;
    margin-bottom: 24px;
    display: flex;
    gap: 24px;
}

#jump-throw-btn {
    margin-right: 48px;
    display: flex;
    gap: 24px;

    img {
        width: 39px;
        height: 39px;
    }
}

#start-screen {
    width: inherit;
    height: inherit;
    background-image: url("./img/start-screen/start-screen.jpg");
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    position: absolute;
    z-index: 10;
    top: 0;
}

#lock-screen {
width: 100vw;
    height: 100dvh;
    max-width: 100vw;
    max-height: 100dvh;
    border: none;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    z-index: 10000; /* Sicher ist sicher */

    div {
        width: inherit;
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        filter: invert(1);
        width: clamp(150px, 50vw, 250px);
        height: clamp(200px, 50vw, 300px);
        rotate: -90deg;
        animation: rotateAnimation 2s ease-in-out infinite alternate;
    }
}

@keyframes rotateAnimation {
    from {
        rotate: -90deg;
    }
    to {
        rotate: 0deg;
    }
}

.home-content {
    width: 20%;
    height: 50%;
    text-align: center;
}

.home-buttons {
    width: clamp(40px, 10vw, 100px);
    height: clamp(40px, 10vw, 100px);

    &:hover {
        cursor: pointer;
        filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.8));
    }
}

#volume-button {
    display: none;
}

#mute-button {
    display: block;
}

.dialog {
    width: inherit;
    height: inherit;
    max-width: 100vw;
    max-height: 100vh;
    background: grey;
    background-image: url("./img/start-screen/start-screen.jpg");
    background-size: cover;
    flex-direction: column;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-width: 0;
    overflow-x: hidden;
    z-index: 15;
    padding: clamp(10px, 15vw, 16px);
    margin: 0;

    &:focus {
        outline: none;
    }
}

#restart-home {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#close-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#close-dialog {
    background: none;
    border: none;
    padding: 10px 10px 0px 0px;

    &:hover {
        cursor: pointer;
    }
}

#headline {
    margin-bottom: 24px;
}

#imprint-template {
    margin-bottom: 80px;
}

p {
    font-size: clamp(16px, 2.5vw, 24px);
    font-weight: bold;
}

h1 {
    font-size: clamp(50px, 7vw, 72px);
}

h2 {
    font-size: clamp(24px, 5.5vw, 54px);
}

h3 {
    font-size: clamp(20px, 5.5vw, 48px);
}

h4 {
    font-size: clamp(16px, 3.5vw, 32px);
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100dvw;
    }

    #control-buttons {
        display: flex;
    }
    
    #fullscreenBtn{
        display: none;
    }

}

@media only screen and (max-height: 720px) {
    h1 {
        display: none;
    }
}

@media (orientation: landscape) and (pointer: coarse) {
    @media only screen and (max-height: 500px) {
        #canvas-section {
            width: 100dvw;
            height: 100dvh;
        }

        #control-buttons {
            display: flex;
        }
    }

    @media only screen and (max-width: 900px) {
        #canvas-section {
            width: 100dvw;
        }
    }
}
